<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    {% load static %}
    <!-- Podstawowe style Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Dodatkowe style SB Admin 2 -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Zewnętrzny kontener logowania -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <!-- Kontener karty logowania -->
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Zagnieżdżony kontener -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h2 text-gray-900 mb-4">Workflow Panel</h1>
                                    </div>
                                    <form class="user" method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <!-- Pola formularza -->
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Zaloguj się
                                        </button>
                                    </form>
                                    <hr>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for SB Admin 2 -->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>
</html>
